* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Lato', sans-serif;
}
.wrap {
    max-width: 1140px;
    min-height: 75px;
    margin: 0 auto;
}
.hidden {
    visibility: hidden;
}
.header {
    background-color: #222;
    min-height: 75px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    margin-left: 40px;
}
.header-account {
    margin: 0 33px;
}
.title {
    background-color: #F1E4E6;
    min-height: 760px;
}
.title-wrap {
    display: flex;
    align-items: center;
    min-height: 760px;
    justify-content: flex-end;
    background-image: url("../img/header-background.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.heading {
    width: 400px;
    margin-right: 95px;
    font-weight: 900px;
    font-size: 48px;
}
.heading-small {
    font-weight: 700px;
    font-size: 32px;
}
.heading-pink {
    color: #F16D7F;
}
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
}
.categories-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    margin: 15px;
}
.categories-woman {
    background-image: url("../img/background-categories/women.jpg");
}
.categories-man {
    background-image: url("../img/background-categories/men.jpg");
}
.categories-kids {
    background-image: url("../img/background-categories/kids.jpg");
}
.categories-accesories {
    width: 100%;
    height: 180px;
    margin-top: 30px;
    background-image: url("../img/background-categories/acc.jpg");
}
.categories-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.categories-title {
    color: #F16D7F;
    font-size: 24px;
    width: 700;
    line-height: 28px;
}
.products-wrap {
    margin-top: 100px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.products-title {
    width: 100%;
    text-align: center;
}
.products-title-title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.products-title-description {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.products {
    margin: 48px -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    max-width: 360px;
    margin: 15px;
    background-color: #F8F8F8;
}
.product-description {
    margin: 25px 30px 20px 15px;
}
.product-description-title {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.product-description-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-bottom: 18px;
}
.product-description-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.show-products {
    background-color: white;
    max-width: 212px;
    max-height: 48px;
    border: 1px solid #FF6A6A;
    padding: 15px 35px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}
.feature-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px calc(50% - 1140px / 2);
    background-color: #222224;
}
.feature-item {
    max-width: 360px;
    margin: 30px 0 ;
}
.feature-logo {
    text-align: center;
}
.feature-title {
    margin-top: 28px;
    margin-bottom: 16px;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
}
.feature-description {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
.feedback-wrap {
    background-image: url("../img/feedback-background.png");
    background-size: cover;
    padding: 100px calc(50% - 1140px / 2);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.review {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.review-par {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.form-feedback-title {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}
.form-feedback-description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    font-weight: 400;
}
.form-feedback {
    margin-top: 30px;
    display: flex;
}
.form-feedback-email {
    background: #E1E1E1;
    padding: 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form-feedback-btn {
    background: #F16D7F; 
    color: #FFFFFF;
    text-align: center;
    border: none;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.footer {
    background-color: #222224;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-right {
    margin: -3px;
}
.footer-cop {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer-link {
    margin: 30px;
    color: #FBFBFB;
}